PORT=3000
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

COINCAP_BASE_URL=https://pro-api.coinmarketcap.com/v1/cryptocurrency/
COINCAP_API_KEY=your_coinmarketcap_api_key

EMAIL_ADDRESS=your_gmail@gmail.com
EMAIL_PASSWORD=your_gmail_app_password

BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
